/* paleta */
:root {
  --dblue: #2d3142;
  --lblue: #4f5d75;
  --orange: #ef8354;
  --silver: #bfc0c0;
  --white: #f4f4f4;
  --black: #333;
  --violet: #2b012f;
  --green: #128920;
}
ul {
  list-style-type: none;
}
::selection {
  color: rgb(255, 255, 255);
  background-color: var(--black);
  text-shadow: 1px #fff;
}
body {
  font-family: "Montserrat", sans-serif;
}

/* nav */

.nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
} /* mini-nav */

.mini-nav {
  background: linear-gradient(var(--orange), orange);
  width: 7vw;
  position: fixed;
  right: -4.5vw;
  top: 12vh;
  z-index: 5;
  transition-duration: 1s;
  transition: 0.6s;
  transform: skewY(15deg);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}
.mini-nav:hover,
.mini-nav:focus {
  transform: translateX(-4.5vw);
}
.mini-nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mini-nav ul a {
  height: 16vh;
  width: 130%;
  font-size: 10vh;
  padding: 2vh;
  color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.5s;
  margin: auto;
  position: relative;
  right: 2rem;
}
.mini-nav ul a:hover {
  color: var(--white);
  background-color: rgba(50, 4, 4, 0.4);
}
.rotate {
  transform: rotate(90deg);
  padding: 1vh;
}

/* hero */

.hero {
  background: url(../images/index-bg.jpg), rgba(0, 0, 0, 0.9);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
}

.hero h1 {
  color: var(--black);
  -webkit-text-stroke: 1px black;
}
.hero h1 span {
  color: var(--orange);
}

.hero p {
  color: var(--black);
}

.hero {
  font-size: 50px;
}

.btn-hero {
  background-color: rgba(250, 250, 250, 0.6);
  color: var(--black);
  border-radius: 10%;
  transition-duration: 0.5s;
  font-size: 1.6rem;
}
.btn-hero:hover {
  background-color: rgba(250, 250, 250, 0.3);
  font-weight: 900;
}

/* sections */
.bg--dark {
  color: var(--white);
  background-color: var(--black);
}

.bg--light {
  color: var(--black);
  background-color: var(--white);
}

.btw-image {
  height: 300px;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.btw--index {
  background-image: url("../images/index-img1.jpg");
}

.btw--componentes {
  background-image: url("../images/componentes-img1.jpg");
}

.btw--perifericos {
  background-image: url("../images/perifericos-img1.jpg");
}
/* carrousel */
.partners {
  background-color: var(--white);
  color: var(--black);
}
.partners .container {
  padding: 6vh 0;
}
.partners .container h2 {
  text-align: center;
  border-bottom: 3px dotted var(--lblue);
}

.carrousel div {
  display: flex;
  column-gap: 2vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.carrousel img {
  min-height: 82px;
  height: 6vw;
}

/* card */
.card-price {
  color: var(--green);
}

.products div div {
  padding: 20px;
}

.products div div:hover {
  background: linear-gradient(
    rgba(150, 150, 150, 0.1),
    rgba(150, 150, 150, 0.4)
  );
  cursor: default;
}

.products div div div:hover {
  background: transparent;
}
/* footer */
footer {
  background-color: #333;
  color: var(--black);
  border: none;
}

footer p {
  background-color: var(--white);
}
