footer {
  @extend .bg--dark;
  border: none;
  p {
    @extend .bg--light;
  }
  div {
    div:hover {
      background: transparent;
    }
  }
  svg {
    .animate__animated.animate__pulse {
      --animate-duration: 1.7s;
    }
  }
}
