@import "paleta";
@import "nav";
@import "header";
@import "main";
@import "footer";

body {
  font-family: "Montserrat", sans-serif;
  ::selection {
    color: rgb(255, 255, 255);
    background-color: $black;
    text-shadow: 1px #fff;
  }
  ul {
    list-style-type: none;
  }
  .bg--dark {
    color: $white;
    background-color: $black;
  }

  .bg--light {
    color: $black;
    background-color: $white;
  }
}
